extends ../layout.pug

block head
	title Doa&ccedil;&otilde;es

block content
	h1.board-title Doa&ccedil;&otilde;es
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-row
				td
					p BTC - bc1q6cjfcnae936aag76rcpgvk2p6xqfhd2l92dg3f
					|
					p LTC - ltc1qk8597dhvn93aspwjw4zctpynre8q7gmxe2tm4u
					|
					p ETH - 0x11D7122B5b45d27119771531C6Ed3F630277eC96  erc20
					|
					p USDT - 0x11D7122B5b45d27119771531C6Ed3F630277eC96  erc20
					|
					p BNB - bnb12d42jy82vy02d5f7zyc0sapyvja68t8e2q4l6z
					|
					p XMR - 48cajmcWqDw3pufRe4N8P6SrxuqLr1fxKJuZ7gdhq7gmjCaURNxb7XhQyfr3MJgQQSh6a69Prb26ii91pDncJcwQHLJ3tjj						
					|
					p Doa&ccedil;&otilde;es ser&atilde;o usadas exclusivamente para pagar a mensalidade do servidor e outros servi&ccedil;os relacionados (dom&iacute;nios, back-up, etc). 
