extends ../layout.pug
include ../mixins/post.pug

block head
	title Frequently Asked Questions

block content
	h1.board-title FAQ
	include ../includes/stickynav.pug
	.table-container.flex-center.mv-5
		.anchor
		table
			tr
				th Frequently Asked Questions
			tr
				td.post-message
					b Geral
					ul.mv-0
						li: a(href='#whats-an-imageboard') Lusochan
						li: a(href='/rules.html') Quais s&atilde;o as regras?
						li: a(href='#contact') Como posso contactar a administra&ccedil;&atilde;o?
					b Postes
					ul.mv-0
						li: a(href='#name-formatting') Como funcionam os nomes, tripcodes e capcodes?
						li: a(href='#post-styling') Que op&ccedil;&otilde;es de formata&ccedil;&atilde;o est&atilde;o disponiveis para criar um poste?
						li: a(href='#post-info') Qual o limite de tamanho para postar ficheiros?
					b T&aacute;buas, utilizadores e permiss&otilde;es
					ul.mv-0
						li: a(href='#make-a-board') Como fa&ccedil;o a minha t&aacute;bua?
						li: a(href='#archive-reverse-url-format') Qual o formato do link para pesquisa de imagens?
	.table-container.flex-center.mv-5
		.anchor#whats-an-imageboard
		table
			tr
				th: a(href='#whats-an-imageboard') Lusochan
			tr
				td
					p
						| Lusochan &eacute; um site de discuss&atilde;o an&oacute;nima e n&atilde;o tem qualquer tipo de ideologia. 
					p
						| O conte&uacute;do criado por utilizadores deste site &eacute; da responsabilidade dos mesmos. 
					p
						| https://lusochan.com - https://lusochan.net - https://twitter.com/lusochan
	.table-container.flex-center.mv-5
		.anchor#name-formatting
		table
			tr
				th: a(href='#name-formatting') Como funcionam os nomes, tripcodes e capcodes?
			tr
				td.post-message
					p No campo &quot;Name&quot; podes incluir um nome, tripcode, capcode, uma combina&ccedil;&atilde;o dos tr&ecirc;s ou deixar o campo em branco e o nome &quot;An&oacute;nimo&quot; vai ser utilizado.

					b Formato
					p 
						|  
						input(disabled='true' spellcheck='false' type='text' value='Name##Tripcode## Capcode')
						|  
					p Exemplos: 
					ol.mv-0
						li name
						li #tripcode
						li ##tripcode
						li ## capcode
						li name#tripcode
						li name##tripcode
						li name## capcode
						li name#tripcode## capcode
						li name##tripcode## capcode
						li #tripcode## capcode
						li ##tripcode## capcode
						li ##
					p Cada componente pode ser usado em combina&ccedil;&atilde;o ou em separado.
						-
							const examplePost = {
								"date" : new Date("2019-08-02T09:48:44.180Z"),
								"name" : "name",
								"board" : "example",
								"tripcode" : "!!X8NXmAS44=",
								"capcode" : "##Board Owner capcode",
								"message" : "Hello, world!",
								"nomarkup" : "Hello, world!",
								"thread" : 1,
								"password" : null,
								"email" : "",
								"spoiler" : false,
								"banmessage" : null,
								"files" : [ ],
								"reports" : [ ],
								"globalreports" : [ ],
								"quotes" : [ ],
								"backlinks" : [ ],
								"postId" : 123
							}	
						+post(examplePost)
					
	.table-container.flex-center.mv-5
		.anchor#post-styling
		table
			tr
				th(colspan=2): a(href='#post-styling') Post styling
			tr
				th Input
				th Output
			tr
				td &gt;greentext
				td
					span.greentext &gt;greentext
			tr
				td &lt;pinktext
				td
					span.pinktext &lt;pinktext
			tr
				td ==title==
				td
					span.title title
			tr
				td ''bold''
				td
					span.bold bold
			tr
				td __underline__
				td
					span.underline underline
			tr
				td ~~strikethrough~~
				td
					span.strike strikethrough
			tr
				td ||spoiler text||
				td
					span.spoiler spoiler text
			tr
				td **italic**
				td
					span.em italic
			tr
				td (((detected)))
				td
					span.detected ((( detected )))
			tr
				td ##2d9+3
				td
					img(src='/file/dice.png' height='16' width='16')
					span.dice (##2d9+3) Rolled 2 dice with 9 sides and modifier +3 = 10
			tr
				td https://example.com
				td: a(href='#!') https://example.com
			tr
				td
					| [Board Rules](https://your.imageboard/a/custompage/rules.html)
					small (staff only)
				td: a(href='#!') Board Rules
			tr
				td &gt;&gt;123
				td: a(class="quote" href="#!") &gt;&gt;123
			tr
				td &gt;&gt;&gt;/b/
				td: a(class="quote" href="#!") &gt;&gt;&gt;/b/
			tr
				td &gt;&gt;&gt;/b/123
				td: a(class="quote" href="#!") &gt;&gt;&gt;/b/123
			tr
				td `inline monospace`
				td
					span.mono inline monospace
			tr
				td
					| [code]language
					br
					| int main() {...}
					br
					| [/code]
				td
					span.code int main() {...}
			tr
				td
					pre
						| [code]aa
						| ∧＿∧
						| ( ・ω・) Let's try that again.
						| [&#x2F;code]
				td
					pre.aa
						| ∧＿∧
						| ( ・ω・) Let's try that again.
			tr
				.table-container.flex-center.mv-5
		.anchor#post-info
		table
			tr
				th: a(href='#post-info') Qual o limite de tamanho para postar ficheiros?
			tr
				td
					p #{postFilesSize}.
	.table-container.flex-center.mv-5
		.anchor#make-a-board
		table
			tr
				th: a(href='#make-a-board') Como fa&ccedil;o uma t&aacute;bua?
			tr
				td
					p
						a(href='/register.html') Registar
						|  uma conta e 
						a(href='/create.html') criar t&aacute;bua
						|. Evitar t&aacute;buas duplicadas ou com temas parecidos.
	.table-container.flex-center.mv-5
		.anchor#archive-reverse-url-format
		table
			tr
				th: a(href='#archive-reverse-url-format') What is the archive/reverse image search link url format?
			tr
				td
					p
						| Put a link with 
						span.mono %s
						|  where the url of the page/file should go for reverse image search or archive links. For example 
						span.mono https://tineye.com/search?url=#[span.bold %s]
						| .
	.table-container.flex-center.mv-5
		.anchor#contact
		table
			tr
				th: a(href='#contact') Como posso contactar a administra&ccedil;&atilde;o?
			tr
				td
					p admin@lusochan.com						
