extends ../layout.pug

block head
	title Regras

block content
	h1.board-title Regras
	.table-container.flex-center.mv-10
		table.table-body
			tr.table-row
				td
					p 1 - N&atilde;o &eacute; permitido o acesso a menores de dezoito anos nem a partilha ou cria&ccedil;&atilde;o de qualquer conte&uacute;do que vise menores.
					p 2 - N&atilde;o &eacute; permitido o uso deste chan para fins ilegais, criminosos ou violentos.
					p 3 - N&atilde;o &eacute; permitido criar conte&uacute;do devassante de vida privada ou que configure a pr&aacute;tica de doxxing.
					p 4 - N&atilde;o &eacute; permitido a utiliza&ccedil;&atilde;o do chan para raids ou ataques a outros chans ou outros redes&iacute;tios.
					p 5 - N&atilde;o &eacute; permitido criar conte&uacute;do sobre outros chans ou o funcionamento dos mesmos.
					p 6 - N&atilde;o &eacute; permitido criar conte&uacute;do alheio ao tema da t&aacute;bua ou fio.
					p 7 - N&atilde;o &eacute; permitido qualquer tipo de flood, spam, publicidade ou fios sem tema ou conte&uacute;do.
					p 8 - Fios NSFW podem ser criados no /b/
					p 9 - Quest&otilde;es relacionadas com o site e o funcionamento do mesmo devem ser feitas no /m/
					p 10 - Em caso de qualquer tipo de viola&ccedil;&atilde;o das regras a modera&ccedil;&atilde;o tem o direito de banir o infractor. 
