unless minimal
	small.footer#bottom
		| - 
		a(href='/news.html') noticias
		|  - 
		a(href='/rules.html') regras
		|  - 
		a(href='/faq.html') faq
		|  - 
		a(href='/doar.html') doar
		|  - 
		a(href='https://github.com/Lusochan/lusochan/raw/master/lusochan.apk' download='lusochan.apk') apk
		|  -
		div
			a(href='https://gitgud.io/fatchan/jschan/') jschan
			|  #{version}

//- "render" script - for scripted things that are blocking
script(src=`/js/render.js?v=${commit}`)
