:root {
	--icon-color:invert(17%)sepia(89%)saturate(7057%)hue-rotate(2deg)brightness(93%)contrast(120%);
	--alt-label-color:#2d2d86;
	--alt-font-color:#f2f2f2;
	--background-top:#252626;
	--background-rest:#252626;
	--navbar-color:#252626;
	--post-color:#35403a;
	--post-outline-color:#000;
	--label-color:#35403a;
	--box-border-color:#333;
	--darken:#ffffff10;
	--highlighted-post-color:#3636a6;
	--highlighted-post-outline-color:#111;
	--board-title:#c5c8c6;
	--hr:#404a41;
	--font-color:#f2f2f2;
	--name-color:#bdd29a;
	--capcode-color:red;
	--subject-color:#A3FF00;
	--link-color:#aeb39d;
	--post-link-color:#d2ddab;
	--link-hover:#f2f2f2;
	--input-borders:black;
	--input-color:black;
	--input-background:#4b5b52;
	--dice-color:darkorange;
	--title-color:#d70000;
	--greentext-color:#789922;
	--pinktext-color:#E0727F;
}
.post-message a:hover {
	color:var(--post-link-color)!important;
}
.postform-style {
	color:black
}
.post-info, .post-container:target .post-info, .post-container.highlighted .post-info {
	background:none!important;border:none!important
}

